<%- include('partials/header.ejs') %>
<div class="header py-3">
  <h1>Replace Entry</h1>
</div>
<body>


<div class="input py-4">
  <form class="input-form" action="/submit" method="POST">
    <input class="input-field" type="text" name="title" placeholder="Title">
    <input class="input-field" type="text" name="content" placeholder="Entry">
    <input id="add-entry" type="submit" value="Add">
  </form>
</div>

<%- include('partials/footer.ejs') %>
</body>