body {
    background-color: #F3F3E0 !important;
    color: #27548A !important;
    text-align: center !important;
}

.header {
    background-color: #27548A;
    color: #F3F3E0;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}

.input{
    width: 100%;
    text-align: center;
}

.add-entry{
    background-color: #DDA853;
    color: #27548A;
    border: solid #DDA853;
    border-radius: 10px;
}

.input-field{
    color: #27548A;
    background-color: #DDA85380;
    border: solid #DDA85380;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

::placeholder{
    color: #27548A;
}

@media (max-width: 450px) {
    .input-form{
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex !important; 
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }
}

h4, h1, .input-form {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: bold !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a:link {
    text-decoration: none;
    color: #27548A;
}

a:visited{
    text-decoration: none;
    color: #27548A;
}

p, a {
  font-family: "Old Standard TT", serif;
  font-weight: 500;
  font-style: normal;
}