<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpaper Generator</title>
</head>
<body>
    <h1>Wallpaper</h1>
    <form id="myForm" method="post">
        <input id="get" type="submit" value="GET" formaction="/wallpaper">
    </form>
</body>
</html>